@using CreatureScaler.Models

@model CreatureScaler.Models.CreatureList

<head>
    <link rel="stylesheet" href="~/css/Statblock.css">
</head>
<body>
    @foreach (var creature in @Model.Creatures)
    {
        @Html.Partial("StatBlockPartial", creature);
    }
</body>
