@using CreatureScaler.Models
@using System.Collections

@model IEnumerable<CreatureScaler.ViewModels.Creature>

<head>
    <link rel="stylesheet" href="~/css/Statblock.css">
</head>
<body>
    @foreach (var creature in @Model)
    {
        @Html.Partial("StatBlockPartial", creature);
    }
</body>
