@model CreatureScaler.Models.Creature

@{
    ViewData["Title"] = "Creature Statblock";
}
<head>
    <link rel="stylesheet" href="~/css/Statblock.css">
</head>
<body>
    <div id="content-wrap">
        <h1>
            @Model.Name
        </h1>
        <h2>
            @Model.Size.ToString() Construct, unaligned
        </h2>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400"></polyline>
        </svg>
        <div>
        </div>
        <top-stat-block>
            <property-block>
                <h4>
                    Armor Class
                </h4>
                <p>18 (Natural Armor)</p>
            </property-block>
            <div>
            </div>
            <property-block>
                <h4>
                    Hit Points
                </h4>
                <p>33 (6d8 + 6)</p>
            </property-block>
            <div>
            </div>
            <property-block>
                <h4>
                    Speed
                </h4>
                <p>25ft.</p>
            </property-block>
        </top-stat-block>
        <div>
        </div>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400">
            </polyline>
        </svg>
        <div>
        </div>
        <table>
            <tbody>
                <tr>
                    <th>STR</th>
                    <th>DEX</th>
                    <th>CON</th>
                    <th>INT</th>
                    <th>WIS</th>
                    <th>CHA</th>
                </tr>
                <tr>
                    <td id="STR">14 (+2)</td>
                    <td id="DEX">11 (+0)</td>
                    <td id="CON">13 (+1)</td>
                    <td id="INT">1 (-5)</td>
                    <td id="WIS">3 (-4)</td>
                    <td id="CHA">20 (+5)</td>
                </tr>
            </tbody>
        </table>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400"></polyline>
        </svg>
        <div>
        </div>
        <property-block>
            <h4>
                Damage Immunities
            </h4><p>Fire, Cold</p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                Condition Immunities
            </h4>
            <p>
                Blinded, Prone
            </p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                Senses
            </h4>
            <p>Truesight 10ft. (blind beyond this distance), passive Perception 6</p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                Languages
            </h4>
            <p>Abyssal, White Wolf</p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                Challenge
            </h4>
            <p>1 (200XP)</p>
        </property-block><div class="special">
        </div>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400">
            </polyline>
        </svg>
        <div>
        </div>
        <property-block>
            <h4>
                Antimagic Susceptibility.
            </h4>
            <p>Thomas is incapacitated while in the area of an anitmagic-field. If targeted by dispel magic, Thomas must suceed on a Constitution saving throw agains taht caster's spell save DC or fall unconscious for 1 minute</p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                False Appearance.
            </h4>
            <p>While Thomas remains motionless, it is indistinguishable from a normal tank engine.</p>
        </property-block>
        <div class="special">
        </div>
        <h3>
            Actions
        </h3>
        <property-block>
            <h4>
                Multiattack.
            </h4>
            <p>
                Thomas makes two Choo-Choo attacks.
            </p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                Choo-Choo.
            </h4>
            <p>
                Melee Weapon Attack: +4 to hit, reach 5 ft., one target. Hit:5 (1d6 +2) bludgeoning damage.
            </p>
        </property-block>
    </div>
</body>
